@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}
html{
  scroll-behavior: smooth;
}
body{
  font-size: 20px;
  background-image: url('/images/background.jpg');
  background-repeat:no-repeat ;
  background-size: cover; 
  overflow-y: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container h1{
  color: white;
  font-size: 4rem;
  font-family: 'Press Start 2P', cursive;
}
button{
  background-color: white;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem 5rem;
  border-radius: 2.5rem;
  background-color: rgb(14, 87, 61);
  border: none;
  color: white;
  cursor: pointer;
}
button:hover{
  transition: .5s ease;
  background-color: white;
  color: rgb(14, 87, 61);
  box-shadow: 0 0 0.3rem white;
}
#game-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.scores-section{
  margin-top: 2rem;
  color: white;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
}
.button-control{
  order: 2;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  margin-bottom: 2rem;
}
#card-containers{
  margin: auto;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.2);
}
.memory-card{
  width: 8vw;
  position: relative;
  margin: 0.5rem;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.front-face,
.back-face{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  backface-visibility: hidden;
}
.front-face{
  transform: rotateY(180deg);
}

.memory-card.flip{
  transform: rotateY(180deg);
}

.display-scores{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#prompt-div{
  background-color: white;
  position: absolute;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
}
#prompt-div button{
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  border: 0.1rem solid white;
}
#prompt-div #yes-btn{
  background-color: red;
}
#prompt-div #yes-btn:hover{
  background-color: white;
  color: red;
  border: 0.1rem solid red;
}
#prompt-div button:hover{
  border: 0.1rem solid rgb(14, 87, 61);;
}

@media screen and (max-width:976px) {
  #card-containers{
    width:85vw;
  }
  .scores-section h1{
    font-size: 1.3rem;
  }
  button{
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 2.5rem;
  } 
}
@media screen and (max-width:560px) {
  .scores-section{
    justify-content: space-evenly;
  }
  .scores-section h1{
    font-size: 1.2rem;
  }
  .container h1{
    font-size: 2rem;
  }
  #prompt-message{
    font-size: 0.8rem;
  }
  #prompt-div button{
    font-size: 1rem;
    padding: 0.2rem 2rem;
  }
}
@media screen and (max-width:480px) {
  .scores-section h1{
    font-size: 1rem;
  }
}
@media screen and (max-width:375px) {
  .container h1{
    font-size: 1.5rem;
  }
  .scores-section h1{
    font-size: 0.75rem;
  }
  button{
    font-size: 0.75rem;
    padding: 1rem 3rem;
  } 
}